{{> /layout/header}}

<!-- 컨테이너 시작 -->
<div class="container mt-3">

  <div class="tabbable-line">
    <ul class="nav nav-tabs ">
      <li class="active">
        <a href="#tab_default_1" data-toggle="tab" class="active-tab">
        인기순</a>
      </li>
      <li>
        <a href="#tab_default_2" data-toggle="tab" class="active-tab">
        최신순</a>
      </li>
    </ul>

  <!-- <div class="list-group list-group-horizontal active">
    <a href="#" class="list-group-item" data-toggle="tab">인기순</a>
    <a href="#" class="list-group-item" data-toggle="tab">최신순</a>
  </div> -->

    <!-- 게시글 아이템 시작 -->
  <div class="row d-flex justify-content-between">

    <div class= "col-3 card">
      <img class="card-img-top" src="image/Very_Peri.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">2022년 팬톤 올해의 컬러! 베리 페리(Very Peri)</h4>
        <p class="card-text">팬톤은 "우리가 사는 격변의 시대를 상징하는 색이다. '베리 페리'는 격리의 시간을 통과하며 겪는 현실과 디지털 생활의 융합을 표현했다."고 설명했습니다.</p>
        <a href="#" class="card-link">by suhyeon5028</a>
      </div>
    </div>

    <div class= "col-3 card">
      <img class="card-img-top" src="image/Very_Peri.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">2022년 팬톤 올해의 컬러! 베리 페리(Very Peri)</h4>
        <p class="card-text">팬톤은 "우리가 사는 격변의 시대를 상징하는 색이다. '베리 페리'는 격리의 시간을 통과하며 겪는 현실과 디지털 생활의 융합을 표현했다."고 설명했습니다.</p>
        <a href="#" class="card-link">by suhyeon5028</a>
      </div>
    </div>

    <div class= "col-3 card">
      <img class="card-img-top" src="image/Very_Peri.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">2022년 팬톤 올해의 컬러! 베리 페리(Very Peri)</h4>
        <p class="card-text">팬톤은 "우리가 사는 격변의 시대를 상징하는 색이다. '베리 페리'는 격리의 시간을 통과하며 겪는 현실과 디지털 생활의 융합을 표현했다."고 설명했습니다.</p>
        <a href="#" class="card-link">by suhyeon5028</a>
      </div>
    </div>

    <div class= "col-3 card">
      <img class="card-img-top" src="image/Very_Peri.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">2022년 팬톤 올해의 컬러! 베리 페리(Very Peri)</h4>
        <p class="card-text">팬톤은 "우리가 사는 격변의 시대를 상징하는 색이다. '베리 페리'는 격리의 시간을 통과하며 겪는 현실과 디지털 생활의 융합을 표현했다."고 설명했습니다.</p>
        <a href="#" class="card-link">by suhyeon5028</a>
      </div>
    </div>

    <div class= "col-3 card">
      <img class="card-img-top" src="image/Very_Peri.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">2022년 팬톤 올해의 컬러! 베리 페리(Very Peri)</h4>
        <p class="card-text">팬톤은 "우리가 사는 격변의 시대를 상징하는 색이다. '베리 페리'는 격리의 시간을 통과하며 겪는 현실과 디지털 생활의 융합을 표현했다."고 설명했습니다.</p>
        <a href="#" class="card-link">by suhyeon5028</a>
      </div>
    </div>

    <div class= "col-3 card">
      <img class="card-img-top" src="image/Very_Peri.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">2022년 팬톤 올해의 컬러! 베리 페리(Very Peri)</h4>
        <p class="card-text">팬톤은 "우리가 사는 격변의 시대를 상징하는 색이다. '베리 페리'는 격리의 시간을 통과하며 겪는 현실과 디지털 생활의 융합을 표현했다."고 설명했습니다.</p>
        <a href="#" class="card-link">by suhyeon5028</a>
      </div>
    </div>

    <div class= "col-3 card">
      <img class="card-img-top" src="image/Very_Peri.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">2022년 팬톤 올해의 컬러! 베리 페리(Very Peri)</h4>
        <p class="card-text">팬톤은 "우리가 사는 격변의 시대를 상징하는 색이다. '베리 페리'는 격리의 시간을 통과하며 겪는 현실과 디지털 생활의 융합을 표현했다."고 설명했습니다.</p>
        <a href="#" class="card-link">by suhyeon5028</a>
      </div>
    </div>

    <div class= "col-3 card">
      <img class="card-img-top" src="image/Very_Peri.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">2022년 팬톤 올해의 컬러! 베리 페리(Very Peri)</h4>
        <p class="card-text">팬톤은 "우리가 사는 격변의 시대를 상징하는 색이다. '베리 페리'는 격리의 시간을 통과하며 겪는 현실과 디지털 생활의 융합을 표현했다."고 설명했습니다.</p>
        <a href="#" class="card-link">by suhyeon5028</a>
      </div>
    </div>

    <div class= "col-3 card">
      <img class="card-img-top" src="image/Very_Peri.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">2022년 팬톤 올해의 컬러! 베리 페리(Very Peri)</h4>
        <p class="card-text">팬톤은 "우리가 사는 격변의 시대를 상징하는 색이다. '베리 페리'는 격리의 시간을 통과하며 겪는 현실과 디지털 생활의 융합을 표현했다."고 설명했습니다.</p>
        <a href="#" class="card-link">by suhyeon5028</a>
      </div>
    </div>
  
    </div>
    <!-- 게시글 아이템 끝 -->

    <ul class="pagination justify-content-center">
      <li class="page-item disabled"><a class="page-link" href="#">Prev</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>

</div>
<!-- 컨테이너 끝 -->

{{> /layout/footer}}