{{> /layout/header}}

<!-- 컨테이너 시작 -->
<div class="container mt-3">

  <!-- 탭 시작 -->
  <div class="tabbable-line">
    <ul class="nav nav-tabs ">
      <li class="active">
        <a href="#tab_default_1" data-toggle="tab" class="active-tab">
        인기순</a>
      </li>
      <li>
        <a href="#tab_default_2" data-toggle="tab" class="active-tab">
        최신순</a>
      </li>
    </ul>
  </div>
  <!-- 탭 끝 -->

    <!-- 게시글 아이템 시작 -->
  <div class="row d-flex justify-content-between">

    <div class= "col-3 card">
      <img class="card-img-top" src="/image/Very_Peri.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">2022년 팬톤 올해의 컬러! 베리 페리(Very Peri)</h4>
        <p class="card-text">팬톤은 "우리가 사는 격변의 시대를 상징하는 색이다. '베리 페리'는 격리의 시간을 통과하며 겪는 현실과 디지털 생활의 융합을 표현했다."고 설명했습니다.</p>
        <p>작성일 · 댓글수</p>
        <div class="card-profile">
          <a href="#" class="card-link my-link"><img src="/image/coomon.jpg" class="rounded-circle card-img-profile" alt="Card image"> by suhyeon5028</a>
          <span class="likey"><i class="fa-solid fa-heart"></i></span>
        </div>        
      </div>
    </div>

    <div class= "col-3 card">
      <img class="card-img-top" src="/image/Very_Peri.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">2022년 팬톤 올해의 컬러! 베리 페리(Very Peri)</h4>
        <p class="card-text">팬톤은 "우리가 사는 격변의 시대를 상징하는 색이다. '베리 페리'는 격리의 시간을 통과하며 겪는 현실과 디지털 생활의 융합을 표현했다."고 설명했습니다.</p>
        <p>작성일 · 댓글수</p>
        <div class="card-profile">
          <a href="#" class="card-link my-link"><img src="/image/coomon.jpg" class="rounded-circle card-img-profile" alt="Card image"> by suhyeon5028</a>
          <span class="likey"><i class="fa-solid fa-heart"></i></span>
        </div>        
      </div>
    </div>

    <div class= "col-3 card">
      <img class="card-img-top" src="/image/Very_Peri.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">2022년 팬톤 올해의 컬러! 베리 페리(Very Peri)</h4>
        <p class="card-text">팬톤은 "우리가 사는 격변의 시대를 상징하는 색이다. '베리 페리'는 격리의 시간을 통과하며 겪는 현실과 디지털 생활의 융합을 표현했다."고 설명했습니다.</p>
        <p>작성일 · 댓글수</p>
        <div class="card-profile">
          <a href="#" class="card-link my-link"><img src="/image/coomon.jpg" class="rounded-circle card-img-profile" alt="Card image"> by suhyeon5028</a>
          <span class="likey"><i class="fa-solid fa-heart"></i></span>
        </div>        
      </div>
    </div>

    <div class= "col-3 card">
      <img class="card-img-top" src="/image/Very_Peri.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">2022년 팬톤 올해의 컬러! 베리 페리(Very Peri)</h4>
        <p class="card-text">팬톤은 "우리가 사는 격변의 시대를 상징하는 색이다. '베리 페리'는 격리의 시간을 통과하며 겪는 현실과 디지털 생활의 융합을 표현했다."고 설명했습니다.</p>
        <p>작성일 · 댓글수</p>
        <div class="card-profile">
          <a href="#" class="card-link my-link"><img src="/image/coomon.jpg" class="rounded-circle card-img-profile" alt="Card image"> by suhyeon5028</a>
          <span class="likey"><i class="fa-solid fa-heart"></i></span>
        </div>        
      </div>
    </div>

    <div class= "col-3 card">
      <img class="card-img-top" src="/image/Very_Peri.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">2022년 팬톤 올해의 컬러! 베리 페리(Very Peri)</h4>
        <p class="card-text">팬톤은 "우리가 사는 격변의 시대를 상징하는 색이다. '베리 페리'는 격리의 시간을 통과하며 겪는 현실과 디지털 생활의 융합을 표현했다."고 설명했습니다.</p>
        <p>작성일 · 댓글수</p>
        <div class="card-profile">
          <a href="#" class="card-link my-link"><img src="/image/coomon.jpg" class="rounded-circle card-img-profile" alt="Card image"> by suhyeon5028</a>
          <span class="likey"><i class="fa-solid fa-heart"></i></span>
        </div>        
      </div>
    </div>

    <div class= "col-3 card">
      <img class="card-img-top" src="/image/Very_Peri.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">2022년 팬톤 올해의 컬러! 베리 페리(Very Peri)</h4>
        <p class="card-text">팬톤은 "우리가 사는 격변의 시대를 상징하는 색이다. '베리 페리'는 격리의 시간을 통과하며 겪는 현실과 디지털 생활의 융합을 표현했다."고 설명했습니다.</p>
        <p>작성일 · 댓글수</p>
        <div class="card-profile">
          <a href="#" class="card-link my-link"><img src="/image/coomon.jpg" class="rounded-circle card-img-profile" alt="Card image"> by suhyeon5028</a>
          <span class="likey"><i class="fa-solid fa-heart"></i></span>
        </div>        
      </div>
    </div>

    <div class= "col-3 card">
      <img class="card-img-top" src="/image/Very_Peri.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">2022년 팬톤 올해의 컬러! 베리 페리(Very Peri)</h4>
        <p class="card-text">팬톤은 "우리가 사는 격변의 시대를 상징하는 색이다. '베리 페리'는 격리의 시간을 통과하며 겪는 현실과 디지털 생활의 융합을 표현했다."고 설명했습니다.</p>
        <p>작성일 · 댓글수</p>
        <div class="card-profile">
          <a href="#" class="card-link my-link"><img src="/image/coomon.jpg" class="rounded-circle card-img-profile" alt="Card image"> by suhyeon5028</a>
          <span class="likey"><i class="fa-solid fa-heart"></i></span>
        </div>        
      </div>
    </div>

    <div class= "col-3 card">
      <img class="card-img-top" src="/image/Very_Peri.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">2022년 팬톤 올해의 컬러! 베리 페리(Very Peri)</h4>
        <p class="card-text">팬톤은 "우리가 사는 격변의 시대를 상징하는 색이다. '베리 페리'는 격리의 시간을 통과하며 겪는 현실과 디지털 생활의 융합을 표현했다."고 설명했습니다.</p>
        <p>작성일 · 댓글수</p>
        <div class="card-profile">
          <a href="#" class="card-link my-link"><img src="/image/coomon.jpg" class="rounded-circle card-img-profile" alt="Card image"> by suhyeon5028</a>
          <span class="likey"><i class="fa-solid fa-heart"></i></span>
        </div>        
      </div>
    </div>

    <div class= "col-3 card">
      <img class="card-img-top" src="/image/Very_Peri.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">2022년 팬톤 올해의 컬러! 베리 페리(Very Peri)</h4>
        <p class="card-text">팬톤은 "우리가 사는 격변의 시대를 상징하는 색이다. '베리 페리'는 격리의 시간을 통과하며 겪는 현실과 디지털 생활의 융합을 표현했다."고 설명했습니다.</p>
        <p>작성일 · 댓글수</p>
        <div class="card-profile">
          <a href="#" class="card-link my-link"><img src="/image/coomon.jpg" class="rounded-circle card-img-profile" alt="Card image"> by suhyeon5028</a>
          <span class="likey"><i class="fa-solid fa-heart"></i></span>
        </div>        
      </div>
    </div>
  
  </div>
    <!-- 게시글 아이템 끝 -->

    <!-- 페이징 시작 -->
    <ul class="pagination modal-3">
      <li><a href="#" class="prev"><i class="fa fa-chevron-left"></i></a></li>
      <li><a href="#" class="active">1</a></li>
      <li> <a href="#">2</a></li>
      <li> <a href="#">3</a></li>
      <li> <a href="#">4</a></li>
      <li> <a href="#">5</a></li>
      <li> <a href="#">6</a></li>
      <li> <a href="#">7</a></li>
      <li> <a href="#">8</a></li>
      <li> <a href="#">9</a></li>
      <li><a href="#" class="next"><i class="fa fa-chevron-right"></i></a></li>
    </ul>
    <!-- 페이징 끝 -->

</div>
<!-- 컨테이너 끝 -->

{{> /layout/footer}}