{{> /post/header}}

<!-- 글수정 폼 시작 -->
<div class="write-form">
  <form action="/s/post" method="post">
    <input type="hidden" id="id" value="{{post.id}}">
      <div class="mb-3 mt-3">
          <input name="title" type="text" class="form-control" placeholder="Enter title" id="title" value="{{post.title}}">
      </div>
      <div class="mb-3">
          <textarea name="content" class="form-control" rows="30vh" id="content">{{post.content}}</textarea>
      </div>
      <div class="box-form3">
          <button class="back-btn" type="button" onclick="location.href='/'">나가기</button>
          <button type="button" class="btn" id="btn-update">수정완료</button>
      </div>
  </form>
</div>
<!-- 글수정 폼 끝 -->

<script>
  $('#content').summernote({
    height: 300
  });

      $("#btn-update").click((event) => {
        alert("눌러짐");
    });
</script>

{{> /layout/footer}}