{{> /post/header}}

<!-- 글쓰기 폼 시작 -->
<div class="write-form">
    <form action="/s/post" method="post">
        <div class="mb-3 mt-3">
            <input name="title" type="text" class="form-control" placeholder="Enter title">
        </div>
        <div class="mb-3">
            <textarea name="content" class="form-control" rows="34vh" id="content"></textarea>
        </div>
        <div class="box-form3">
            <button class="back-btn" type="button" onclick="location.href='/'">나가기</button>
            <button class="btn" type="submit">글쓰기</button>
        </div>
    </form>
</div>
<!-- 글쓰기 폼 끝 -->

<script>
    var quill = new Quill('#content', {
      theme: 'snow'
    });
  </script>

{{> /layout/footer}}