{{> /layout/header}}

<!-- 컨테이너 시작 -->
<div class="container mt-3">

    <!-- 글쓰기 폼 시작 -->
    <div>
    <form>
            <div id="editor">
                <p>Hello World!</p>
                <p>Some initial <strong>bold</strong> text</p>
                <p><br></p>
              </div>
                <button class="btn btn-dark" id="btn-write" type="button">글쓰기</button>
    </form>
</div>
    <!-- 글쓰기 폼 끝 -->

</div>
<!-- 컨테이너 끝 -->

<script>
    $("#btn-write").click(()=>{
        write();
    });

    async function write(){
        let writeDto = {
            title: $("#title").val(),
            content: $("#content").val()
        }

        console.log(writeDto);

        let response = await fetch("/s/post", {
            method: "POST",
            body: JSON.stringify(writeDto),
            headers: {
                "Content-Type":"application/json; charset=utf-8"
            }
        });

        let responseParse = await response.json();

        if (responseParse.code == 1) {
            alert("글쓰기 성공");
            location.href = "/";
        } else {
            alert("글쓰기 실패");
        }
    }
</script>

<script>
    var quill = new Quill('#editor', {
      theme: 'snow'
    });
  </script>

{{> /layout/footer}}