{{> /layout/header}}

<!-- 컨테이너 시작 -->
<div class="container mt-3">

    <!-- 블로그 폼 시작 -->
    <div class="box1">
        <div class="box2">
            리스트
        </div>
        <div class="box8">
            <div class="box3">
                <div class="box4">
                    유저사진
                </div>
                <div class="box5">
                    <div>
                        유저이름
                    </div>
                    <div>
                        내용
                    </div>
                    <div class="box6">
                        검색바
                    </div>
                </div>
            </div>
            <div class="box7">
                <div class= "col-3 card">
                    <img class="card-img-top" src="image/Very_Peri.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">2022년 팬톤 올해의 컬러! 베리 페리(Very Peri)</h4>
                      <p class="card-text">팬톤은 "우리가 사는 격변의 시대를 상징하는 색이다. '베리 페리'는 격리의 시간을 통과하며 겪는 현실과 디지털 생활의 융합을 표현했다."고 설명했습니다.</p>
                      <p>작성일 · 댓글수</p>
                      <div class="card-profile">
                        <a href="#" class="card-link my-link"><img src="image/coomon.jpg" class="rounded-circle card-img-profile" alt="Card image"> by suhyeon5028</a>
                        <span class="likey"><i class="fa-solid fa-heart"></i></span>
                      </div>        
                    </div>
                  </div>
            </div>
            <div class="box8">
                <div class= "col-3 card">
                    <img class="card-img-top" src="image/Very_Peri.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">2022년 팬톤 올해의 컬러! 베리 페리(Very Peri)</h4>
                      <p class="card-text">팬톤은 "우리가 사는 격변의 시대를 상징하는 색이다. '베리 페리'는 격리의 시간을 통과하며 겪는 현실과 디지털 생활의 융합을 표현했다."고 설명했습니다.</p>
                      <p>작성일 · 댓글수</p>
                      <div class="card-profile">
                        <a href="#" class="card-link my-link"><img src="image/coomon.jpg" class="rounded-circle card-img-profile" alt="Card image"> by suhyeon5028</a>
                        <span class="likey"><i class="fa-solid fa-heart"></i></span>
                      </div>        
                    </div>
                  </div>
            </div>
        </div>
  </div>
<!-- 블로그 폼 끝 -->

</div>
<!-- 컨테이너 끝 -->

{{> /layout/footer}}