{{> /layout/header}}

<!-- 컨테이너 시작 -->
<div class="container">

    <!-- 블로그 폼 시작 -->
    <div>

        <!-- 블로그 맨 위 소개 시작-->
        <div class="blog-flex-center">
          <div class="col-sm-6">
            <div class="blog-flex-start blog-profile">
              <div class="my-mlr blog-profile-img">
                <img src="/image/coomon.jpg" alt="Profile" class="rounded-circle profile">
              </div>
              <div class="my-mlr">
                <div class="blog-user">suhyeon5028</div>
                <div>어쩌구 저쩌구 블라블라</div>
              </div>
            </div>
          <hr />
          </div>
        </div>
        <!-- 블로그 맨 위 소개 끝-->
        
        <!-- 블로그 내 검색 시작-->
        <div class="my-mtb blog-flex-end">
            <div class="blog-search">
                <div class="md-form active-purple-2">
                  <input class="form-control" type="text" name="" placeholder="검색어를 입력하세요">
                </div>
            </div>
        </div>
        <!-- 블로그 내 검색 끝-->

        <!-- 블로그 본문 시작-->
        <div class="row my-mtb blog-flex-around">

            <!-- 블로그 카테고리 시작-->
            <div class="col-sm-3 blog-flex-end">
              <div class="blog-category">
                <div>&nbsp;&nbsp;&nbsp;카테고리 목록</div>
                <hr />
                <div>
                  <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">팀장</a>
                    <a href="#" class="list-group-item list-group-item-action">임현조</a>
                    <a href="#" class="list-group-item list-group-item-action">비선실세</a>
                    <a href="#" class="list-group-item list-group-item-action">고아라</a>
                    <a href="#" class="list-group-item list-group-item-action">그냥</a>
                    <a href="#" class="list-group-item list-group-item-action">김수현</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- 블로그 카테고리 끝-->

            <!-- 블로그 포스트 시작-->
            <div class="col-sm-6">

              <div class="my-mb blog-flex-center">
                <div class= "blog-card">
                  <img class="card-img-top" src="/image/Very_Peri.jpg" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">2022년 팬톤 올해의 컬러! 베리 페리(Very Peri)</h4>
                    <p class="card-text">팬톤은 "우리가 사는 격변의 시대를 상징하는 색이다. '베리 페리'는 격리의 시간을 통과하며 겪는 현실과 디지털 생활의 융합을 표현했다."고 설명했습니다.</p>
                    <!-- 두줄정도 나오고 ... 되는걸 넣어야될듯... -->
                    <p>작성일 · 댓글수</p>
                  </div>
                </div>
              </div>

              <div class="my-mb blog-flex-center">
                <div class= "blog-card">
                  <img class="card-img-top" src="/image/Very_Peri.jpg" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">2022년 팬톤 올해의 컬러! 베리 페리(Very Peri)</h4>
                    <p class="card-text">팬톤은 "우리가 사는 격변의 시대를 상징하는 색이다. '베리 페리'는 격리의 시간을 통과하며 겪는 현실과 디지털 생활의 융합을 표현했다."고 설명했습니다.</p>
                    <p>작성일 · 댓글수</p>
                  </div>
                </div>
              </div>

              <div class="my-mb blog-flex-center">
                <div class= "blog-card">
                  <img class="card-img-top" src="/image/Very_Peri.jpg" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">2022년 팬톤 올해의 컬러! 베리 페리(Very Peri)</h4>
                    <p class="card-text">팬톤은 "우리가 사는 격변의 시대를 상징하는 색이다. '베리 페리'는 격리의 시간을 통과하며 겪는 현실과 디지털 생활의 융합을 표현했다."고 설명했습니다.</p>
                    <p>작성일 · 댓글수</p>
                  </div>
                </div>
              </div>

            </div>
            <!-- 블로그 포스트 끝-->

            <!-- 블로그 빈칸 시작-->
            <div class="col-sm-3 blog-box"></div>
            <!-- 블로그 빈칸 끝-->

        </div>
        <!-- 블로그 본문 끝-->

        <!-- 페이징 시작 -->
    <ul class="pagination modal-3">
      <li><a href="#" class="prev"><i class="fa fa-chevron-left"></i></a></li>
      <li><a href="#" class="active">1</a></li>
      <li> <a href="#">2</a></li>
      <li> <a href="#">3</a></li>
      <li> <a href="#">4</a></li>
      <li> <a href="#">5</a></li>
      <li> <a href="#">6</a></li>
      <li> <a href="#">7</a></li>
      <li> <a href="#">8</a></li>
      <li> <a href="#">9</a></li>
      <li><a href="#" class="next"><i class="fa fa-chevron-right"></i></a></li>
    </ul>
    <!-- 페이징 끝 -->

    </div>
    <!-- 블로그 폼 끝 -->

</div>
<!-- 컨테이너 끝 -->

{{> /layout/footer}}