{{> /layout/header}}

<!-- 컨테이너 시작 -->
<div class="container mt-3">

    <!-- 회원가입 폼 시작 -->
    <div class="box-form1">
        <form>
            <div class="box-form2">
                <div class="my-2 brand-logo">
                    Glog
                </div>
                <div class="my-2">
                    <input id="username" type="text" class="form-control input-form" placeholder="ID" required maxlength="20">
                    <input id="password" type="password" class="form-control input-form" placeholder="Password" required maxlength="20">
                    <input id="email" type="email" class="form-control input-form" placeholder="E-mail" required maxlength="20">
                </div>
                <div class="box-form3 my-3">
                    <button id="btn-cancel" type="button" class="cancel-btn">나가기</button>
                    <button id="btn-join" type="button" class="submit-btn">회원가입</button>
                </div>
            </div>
        </form>
    </div>
    <!-- 회원가입 폼 끝 -->

</div>

<script src="/js/user.js"></script>

<!-- 컨테이너 끝 -->

{{> /layout/footer}}