{{> /user/header}}

<!-- 로그인 폼 시작 -->
<div class="box-form2  center-form">
  <div class="my-2 brand-logo" onclick="location.href='/'">
    글하다
  </div>
  <form action="/login" method="post">
    <div class="my-2">
      <input type="text" class="form-control input-form" placeholder="ID" required maxlength="20" name="username" value="{{#remember}}{{remember}}{{/remember}}" />
    </div>
    <div class="my-2">
      <input type="password" class="form-control input-form" placeholder="Password" required maxlength="20" name="password" />
    </div>
    <div class="my-3">
      <button type="submit" class="submit-btn">로그인</button>
    </div>
    <div class="box-form3">
    <div>
      <input class="filled-in" type="checkbox" name="remember" />
      <span>ID 저장</span>
    </div>
    <div onclick="location.href='join-form'">회원가입</div>
  </form>
</div>
<!-- 로그인 폼 끝 -->

{{> /layout/footer}}