{{> /layout/header}}

<!-- 컨테이너 시작 -->
<div class="container mt-3">

    <div class="userupdate_box">
        <div class="update_box1">

            <img src="dog.jpg" class="rounded" width="200px" height="200px">
            <br />
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="container mt-3" class="update_box2">
            <h2>내 정보 수정하기</h2>
            <form action="/action_page.php">
                <div class="mb-3 mt-3">
                    <input type="email" class="form-control" id="email" placeholder="Username" name="email">
                </div>
                <div class="mb-3">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Blog name" name="pswd">
                </div>
                <div class="mb-3">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="비밀번호 수정" name="pswd">
                </div>
                <div class="mb-3">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="이메일 수정" name="pswd">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <div>

        </div>
    </div>

</div>

<script src="/js/user.js"></script>

<!-- 컨테이너 끝 -->

{{> /layout/footer}}