{{> /layout/header}}

<!-- 컨테이너 시작 -->
<div class="container">
    <!-- 유저수정 폼 시작 -->
    <div class="box-form1">
        <div class="box-form5">
            <div class="col-sm-3">
                <div class="box-form4 my-4">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdUZ_9tEpmdSFXY_yLnlAe6qR4yZ8Czl2mvw&usqp=CAU" class="rounded-circle" width="160px" height="160px">
                </div>
                <div class="box-form4 my-4">
                    <button type="submit" class="image-upload-btn">이미지 업로드</button>
                </div>
            </div>
            <div class="mx-4 vl"></div>
            <div class="box-form4 flex-grow-1">
                <form class="my-3">
                    <div class="box-form6">
                        <input type="text" class="form-control update-input-form" id="profilename" placeholder="Profile name" maxlength="20">
                        <input type="text" class="form-control update-input-form" id="blogname" placeholder="Blog name" maxlength="20">
                        <input type="password" class="form-control update-input-form" id="password" placeholder="Password" maxlength="20">
                        <input type="email" class="form-control update-input-form" id="email" placeholder="E-mail" maxlength="60">
                    </div>
                    <div class="blog-flex-end">                        
                        <button type="submit" class="btn">수정하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 유저수정 폼 끝 -->
</div>

<script src="/js/user.js"></script>

<!-- 컨테이너 끝 -->

{{> /layout/footer}}